@font-face {
  font-family: BookAntiqua;
  src: url(../Fonts/bookantiqua.woff2) format("woff2"), url(../Fonts/bookantiqua.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: BookAntiqua;
  src: url(../Fonts/bookantiquabold.woff2) format("woff2"), url(../Fonts/bookantiquabold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  min-width: 290px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 25px;
  font-family: "Josefin", "Arial", sans-serif;
  color: #050505;
  font-style: normal;
  background-color: #eaeaea;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: #050505;
}
a:hover,
a:focus {
  color: #686767;
}
a:active {
  color: #000000;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.d-nole {
  padding: 0;
  margin: 0;
}
.center {
  margin: 0 auto;
}
.v-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
