@font-face {
  font-family: Montserrat;
  src: url(../Fonts/montserrat-v14-cyrillic_latin-regular.woff2) format("woff2"), url(../Fonts/montserrat-v14-cyrillic_latin-regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(../Fonts/montserrat-v14-cyrillic_latin-600.woff2) format("woff2"), url(../Fonts/montserrat-v14-cyrillic_latin-600.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  min-width: 290px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Montserrat", Arial, sans-serif;
  color: #333333;
  font-style: normal;
  background-color: #ffffff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #333333;
}
a:hover,
a:focus {
  color: #000000;
}
a:active {
  color: #686767;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="file"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.only-mobile {
  display: none;
}
@media (max-width: 767px) {
  .only-mobile {
    display: block;
  }
  .not-mobile {
    display: none;
  }
}
.d-nole {
  padding: 0;
  margin: 0;
}
.center {
  margin: 0 auto;
}
.v-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.widthForTabletWrap {
  width: 93%;
  max-width: 1200px;
  min-width: 672px;
}
.widthForMobileWrap {
  width: 90%;
  max-width: 650px;
  min-width: 288px;
}
.button {
  display: block;
  min-width: 260px;
  min-height: 50px;
  border-radius: 5px;
  background: #D7A950;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.button--gray {
  background: #4F4F4F;
}
.page-header {
  width: 100%;
  background: #221e18 url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-bottom: 160px;
}
.page-header__wrap {
  width: 1440px;
  margin: 0 auto;
}
.page-header__title {
  display: block;
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
  padding-top: 85px;
  width: 1440px;
  margin: 0 auto;
}
br.tablet {
  display: none;
}
.page-header__info {
  display: block;
  font-size: 24px;
  line-height: 32px;
  width: 720px;
  font-weight: normal;
  margin-top: 40px;
}
.page-header__button-calculation {
  width: 290px;
  height: 55px;
  margin-top: 50px;
  padding-top: 15px;
}
.page-header__button-calculation:hover,
.page-header__button-calculation:focus {
  color: inherit;
}
@media (max-width: 1790px) {
  .page-header__wrap {
    width: 93%;
    max-width: 1200px;
    min-width: 672px;
  }
  .page-header__title {
    font-size: 48px;
    line-height: 56px;
    padding-top: 85px;
    width: 90%;
    max-width: 1200px;
    margin-left: 0;
  }
  br.desktop {
    display: none;
  }
  br.tablet {
    display: block;
  }
  .page-header__info {
    font-size: 20px;
    line-height: 26px;
    min-width: 680px;
    max-width: 950px;
    width: 88%;
    margin-top: 40px;
  }
  .page-header__button-calculation {
    width: 290px;
    height: 55px;
    margin-top: 50px;
    padding-top: 15px;
  }
  .page-header__button-calculation:hover,
  .page-header__button-calculation:focus {
    color: inherit;
  }
}
@media (max-width: 767px) {
  .page-header {
    padding-bottom: 80px;
  }
  .page-header__wrap {
    width: 90%;
    max-width: 650px;
    min-width: 288px;
  }
  .page-header__title {
    font-size: 24px;
    line-height: 32px;
    padding-top: 48px;
    width: 100%;
  }
  .page-header__info {
    font-size: 15px;
    line-height: 24px;
    width: 90%;
    max-width: 650px;
    min-width: 288px;
    width: 88%;
    margin-top: 27px;
  }
  .page-header__button-calculation {
    width: 238px;
    height: 48px;
    margin-top: 45px;
    padding-top: 15px;
  }
}
.contacts {
  width: 1440px;
  min-height: 144px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
}
.contacts a {
  color: #ffffff;
}
.contacts__logo {
  width: 85px;
  height: 85px;
  margin-right: 70px;
}
.contacts__email,
.contacts__phone {
  display: block;
  width: 155px;
  height: 35px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin-right: 40px;
}
.contacts__button {
  width: 263px;
  height: 50px;
  margin-left: auto;
  padding: 12px 16px;
}
@media (max-width: 1790px) {
  .contacts {
    width: 98%;
    min-height: 120px;
  }
  .contacts a {
    color: #ffffff;
  }
  .contacts__logo {
    margin-right: auto;
    margin-left: auto;
  }
  .contacts__email,
  .contacts__phone {
    margin-right: auto;
    margin-left: auto;
  }
  .contacts__button {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  .contacts {
    width: 98%;
    min-height: 120px;
  }
  .contacts a {
    color: #ffffff;
  }
  .contacts__logo {
    margin-right: auto;
    margin-left: auto;
  }
  .contacts__email {
    display: none;
    margin-right: auto;
    margin-left: auto;
  }
  .contacts__button {
    display: none;
    margin-left: auto;
    margin-right: auto;
  }
  .contacts__button-menu {
    width: 18px;
    height: 18px;
    border: none;
    background: none;
    position: relative;
    cursor: pointer;
  }
  .contacts__button-menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 18px;
    height: 1px;
    background: #ffffff;
    box-shadow: 0 4px 0 #ffffff, 0 8px 0 #ffffff;
  }
}
.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  height: 90px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  justify-content: space-between;
  align-items: center;
}
.menu__main {
  width: 85%;
}
.menu__main-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.menu__main-item {
  display: block;
  width: auto;
}
.menu__main-item a {
  display: block;
  width: auto;
  padding: 33px 23px;
  height: 90px;
  color: #ffffff;
  font-weight: bold;
}
.menu__main-item a:focus,
.menu__main-item a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.menu__main-item a:active {
  color: #686767;
}
.menu__main-item--catalog {
  position: relative;
}
.menu__main-item--catalog a {
  width: 146px;
}
.menu__main-item--catalog-a {
  position: relative;
}
.menu__main-item--catalog-a::after {
  content: '';
  display: block;
  position: absolute;
  top: 35px;
  right: 20px;
  width: 10px;
  height: 10px;
  border-right: 2px solid #D7A950;
  border-bottom: 2px solid #D7A950;
  transform: rotate(45deg);
}
.menu__submain-list {
  position: absolute;
  min-width: 585px;
  height: 312px;
  padding-top: 62px;
  padding-bottom: 50px;
  padding-left: 96px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.menu__submain-item {
  display: block;
  height: 40px;
  width: 150px;
}
.menu__submain-item a {
  display: block;
  height: 40px;
  width: 150px;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 40px;
  font-weight: normal;
}
.menu__submain-item a:focus,
.menu__submain-item a:hover {
  color: #000000;
  background-color: rgba(0, 0, 0, 0);
}
.menu__submain-item a:active {
  color: #686767;
}
.menu__social-list {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  justify-content: space-around;
}
.menu__social-item {
  width: 25px;
  height: 25px;
  background: url("../img/vk.svg") no-repeat center center;
  cursor: pointer;
}
.menu__social-item--instagram {
  background-image: url("../img/instagram.svg");
}
@media (max-width: 1790px) {
  .menu {
    width: 93%;
    max-width: 1200px;
    min-width: 672px;
    width: 100%;
    position: relative;
  }
  .menu__main {
    width: 100%;
  }
  .menu__main-list {
    flex-wrap: wrap;
  }
  .menu__main-item {
    width: auto;
  }
  .menu__main-item a {
    font-size: 18px;
    width: auto;
    padding: 33px 13px;
    height: 90px;
  }
  .menu__main-item--catalog {
    width: 125px;
  }
  .menu__main-item--catalog a {
    width: 125px;
  }
  .menu__social-list {
    flex-direction: column;
    width: 30px;
    height: 100px;
    position: absolute;
    top: 176px;
    right: 0;
  }
  .menu__social-item {
    width: 25px;
    height: 25px;
    background: url("../img/vk.svg") no-repeat center center;
  }
  .menu__social-item--instagram {
    background-image: url("../img/instagram.svg");
  }
}
@media (max-width: 767px) {
  .menu {
    background-color: rgba(35, 31, 32, 0.9);
    flex-direction: column;
    width: 90%;
    max-width: 650px;
    min-width: 288px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
  }
  .menu__main {
    width: 100%;
  }
  .menu__main-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .menu__main-item {
    width: auto;
    height: auto;
  }
  .menu__main-item a {
    font-size: 18px;
    width: auto;
    padding: 15px 13px;
    height: auto;
  }
  .menu__main-item--catalog {
    width: auto;
  }
  .menu__main-item--catalog a {
    width: auto;
    padding-left: 27px;
    padding-right: 27px;
  }
  .menu__main-item--catalog a::after {
    content: '';
    top: 19px;
    right: 6px;
  }
  .menu__submain-list {
    display: block;
    position: static;
    min-width: 170px;
    min-height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: auto;
    background-color: none;
    display: none;
  }
  .menu__submain-item a {
    height: 35px;
    width: 190px;
    font-size: 16px;
    line-height: 32px;
  }
  .menu__submain-item a:focus,
  .menu__submain-item a:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  .menu__social-list {
    flex-direction: row;
    margin-top: 35px;
    width: 100px;
    height: 30px;
    position: static;
  }
  .menu__social-item {
    width: 25px;
    height: 25px;
    background: url("../img/vk.svg") no-repeat center center;
  }
  .menu__social-item--instagram {
    background-image: url("../img/instagram.svg");
  }
  .menu__contacts-phone {
    margin-top: 45px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }
  .menu__contacts-button {
    color: #D7A950;
  }
  .menu__contacts-email {
    margin-top: 23px;
    margin-bottom: 60px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }
  .menu__contacts-button:focus,
  .menu__contacts-email:focus,
  .menu__contacts-phone:focus,
  .menu__contacts-button:hover,
  .menu__contacts-email:hover,
  .menu__contacts-phone:hover {
    color: #ffffff;
  }
  .menu__close-button {
    order: -2;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: auto;
    width: 23px;
    height: 23px;
    border: none;
    background: none;
    position: relative;
    cursor: pointer;
  }
  .menu__close-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 23px;
    height: 23px;
    background: url("../img/crossYellow.svg") no-repeat center center;
    background-size: cover;
  }
  /* здесь стили, которые зависят от состояния меню (закрыто или открыто) */
  .menu--closed {
    display: none;
  }
  .menu--opened {
    display: flex;
    margin-top: -115px;
  }
}
.about-us {
  width: 100%;
  background-color: #ffffff;
  color: #333333;
  position: relative;
  background: url("../img/foto1.jpg") no-repeat right center;
  background-size: contain;
}
.about-us__statistic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  min-height: 264px;
  width: 1558px;
  background: #D7A950 url("../img/bgYellow.jpg");
  color: #ffffff;
  padding-top: 77px;
  padding-right: 285px;
  padding-left: 240px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
  z-index: 1;
}
.about-us__statistic-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}
.about-us__statistic-text--big {
  font-weight: bold;
  font-size: 64px;
  line-height: 72px;
}
.about-us__info {
  width: 1440px;
  margin: 0 auto;
  min-height: 460px;
  margin-left: 240px;
  padding-top: 90px;
}
.about-us__info-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  position: relative;
}
.about-us__info-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 98px;
  height: 8px;
  left: 0;
  bottom: -22px;
  background-color: #D7A950;
  opacity: 0.5;
}
.about-us__info-text {
  width: 700px;
  font-size: 18px;
  line-height: 24px;
  color: #4F4F4F;
  margin-top: 85px;
  margin-bottom: 89px;
}
@media (max-width: 1790px) {
  .about-us {
    background-size: cover;
    background-position: center;
  }
  .about-us__statistic {
    justify-content: space-around;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-top: 70px;
    padding-right: 0;
    padding-left: 0;
    z-index: 0;
  }
  .about-us__statistic-text {
    max-width: 25%;
  }
  .about-us__info {
    width: 100%;
    margin: 0 auto;
    min-height: 593px;
    padding-top: 158px;
  }
  .about-us__info-wrap {
    width: 93%;
    max-width: 1200px;
    min-width: 672px;
    margin: 0 auto;
  }
  .about-us__info-title {
    color: #ffffff;
    margin-top: 0;
  }
  .about-us__info-text {
    width: 100%;
    color: #ffffff;
    margin-top: 85px;
    margin-bottom: 158px;
  }
}
@media (max-width: 767px) {
  .about-us {
    background: url("../img/foto1mobile.jpg") no-repeat top right;
    background-size: 62.5%;
    min-height: auto;
    height: auto;
  }
  .about-us__statistic {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    background-size: cover;
    background-position: center;
    padding: 25px 0;
  }
  .about-us__statistic-text {
    max-width: 100%;
    width: 100px;
    font-size: 14px;
    line-height: 16px;
  }
  .about-us__statistic-text--big {
    font-size: 32px;
    line-height: 42px;
  }
  .about-us__info {
    width: 100%;
    margin: 0 auto;
    min-height: auto;
    padding-top: 135px;
  }
  .about-us__info-wrap {
    width: 90%;
    max-width: 650px;
    min-width: 288px;
    margin: 0 auto;
  }
  .about-us__info-title {
    color: #ffffff;
    margin-top: 0;
    font-size: 24px;
    line-height: 48px;
    color: #333333;
  }
  .about-us__info-title::after {
    width: 58px;
    height: 4px;
    bottom: -7px;
    opacity: 1;
  }
  .about-us__info-text {
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    margin-top: 25px;
    margin-bottom: 80px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
  }
}
.catalog {
  width: 100%;
  background: linear-gradient(180deg, rgba(242, 242, 242, 0.4) 0%, rgba(242, 242, 242, 0) 100%);
}
.catalog__list {
  width: 1440px;
  margin: 0 auto;
  padding-top: 135px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.catalog__title {
  display: block;
  position: relative;
  width: 710px;
  height: 480px;
  color: #333333;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  padding-top: 190px;
}
.catalog__title::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 212px;
  display: block;
  width: 185px;
  height: 8px;
  background: #D7A950;
  opacity: 0.5;
}
.catalog__item a {
  display: block;
  width: 340px;
  height: 480px;
  border-radius: 5px;
  background-color: rgba(34, 30, 24, 0.4);
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 32px;
  padding-top: 54px;
  padding-left: 30px;
  margin-bottom: 25px;
  box-shadow: 0 0 17px 10px rgba(34, 30, 24, 0.1);
}
.catalog__item a:hover,
.catalog__item a:focus {
  opacity: 0.6;
}
.catalog__item a:active {
  opacity: 0.9;
}
.catalog__item--small {
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}
.catalog__item--1 a {
  background-image: url("../img/1.jpg");
}
.catalog__item--2 a {
  background-image: url("../img/2.jpg");
}
.catalog__item--3 a {
  background-image: url("../img/3.jpg");
}
.catalog__item--4 a {
  background-image: url("../img/4.jpg");
}
.catalog__item--5 a {
  background-image: url("../img/5.jpg");
}
.catalog__item--6 a {
  background-image: url("../img/6.jpg");
}
.catalog__item--7 a {
  background-image: url("../img/7.jpg");
  position: relative;
  z-index: 1;
}
.catalog__item--8 a {
  background-image: url("../img/8.jpg");
  position: relative;
  z-index: 1;
}
.catalog__item--9 a {
  background-image: url("../img/9.jpg");
  position: relative;
  z-index: 1;
}
.catalog__item--10 a {
  background-image: url("../img/10.jpg");
  position: relative;
  z-index: 1;
}
@media (max-width: 1790px) {
  .catalog__list {
    width: 93%;
    max-width: 1200px;
    min-width: 672px;
    padding-top: 90px;
  }
  .catalog__title {
    width: 100%;
    height: 230px;
    text-align: left;
    padding-top: 0;
  }
  .catalog__title::before {
    left: 0;
    top: 75px;
  }
  .catalog__item {
    display: block;
    width: 45%;
    min-width: 340px;
    max-width: 480px;
  }
  .catalog__item a {
    display: block;
    background-size: cover;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .catalog__list {
    width: 90%;
    max-width: 650px;
    min-width: 288px;
    padding-top: 30px;
  }
  .catalog__title {
    height: 50px;
    font-size: 24px;
    margin-bottom: 45px;
  }
  .catalog__title::before {
    left: 0;
    top: auto;
    bottom: -7px;
    width: 58px;
    height: 4px;
    opacity: 1;
  }
  .catalog__item {
    min-width: 135px;
    max-width: 340px;
    min-height: 170px;
  }
  .catalog__item a {
    display: block;
    background-size: cover;
    width: 100%;
    height: auto;
    height: 220px;
    font-size: 15px;
    line-height: 24px;
    padding-top: 26px;
    padding-left: 15px;
    background-position: bottom right;
  }
  .catalog__item--small {
    font-size: 16px;
    text-transform: lowercase;
  }
}
.order {
  width: 100%;
  min-height: 1055px;
  margin-top: -230px;
  padding-top: 310px;
  padding-bottom: 90px;
  background: #D7A950 url("../img/bgYellowBig.jpg");
  color: #ffffff;
  background-size: cover;
  background-position: center;
}
.order__wrap {
  width: 1440px;
  margin: 0 auto;
}
.order__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}
.order__text {
  display: block;
  width: 420px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
}
.order__form {
  width: 715px;
  margin: 0 auto;
  margin-top: 57px;
}
@media (max-width: 1790px) {
  .order {
    width: 100%;
    min-height: 1055px;
    margin-top: -230px;
    padding-top: 310px;
    padding-bottom: 80px;
  }
  .order__wrap {
    width: 93%;
    max-width: 1200px;
    min-width: 672px;
    margin: 0 auto;
  }
  .order__form {
    width: 100%;
    margin-top: 65px;
  }
}
@media (max-width: 767px) {
  .order {
    min-height: auto;
    margin-top: -100px;
    padding-top: 155px;
    padding-bottom: 40px;
  }
  .order__wrap {
    width: 90%;
    max-width: 650px;
    min-width: 288px;
  }
  .order__title {
    margin: 0 auto;
    font-size: 24px;
    line-height: 32px;
  }
  .order__text {
    width: 100%;
    font-size: 16px;
    padding: 5px 15px;
  }
  .order__form {
    width: 100%;
    margin-top: 25px;
  }
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.form input {
  display: block;
  width: 342px;
  height: 60px;
  border-radius: 5px;
  border: none;
  padding-left: 24px;
  padding-top: 17px;
  vertical-align: middle;
}
.form input[type="submit"] {
  padding-left: 0;
  cursor: pointer;
}
.form input::-webkit-input-placeholder {
  font: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(215, 169, 80, 0.4);
}
.form input::-moz-placeholder {
  font: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(215, 169, 80, 0.4);
}
.form input:-ms-input-placeholder {
  font: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(215, 169, 80, 0.4);
}
.form input::-ms-input-placeholder {
  font: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(215, 169, 80, 0.4);
}
.form input::placeholder {
  font: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(215, 169, 80, 0.4);
}
.form textarea {
  display: block;
  width: 710px;
  height: 170px;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 5px;
  border: none;
  resize: none;
  padding-top: 19px;
  padding-left: 24px;
}
.form textarea::-webkit-input-placeholder {
  font: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(215, 169, 80, 0.4);
}
.form textarea::-moz-placeholder {
  font: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(215, 169, 80, 0.4);
}
.form textarea:-ms-input-placeholder {
  font: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(215, 169, 80, 0.4);
}
.form textarea::-ms-input-placeholder {
  font: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(215, 169, 80, 0.4);
}
.form textarea::placeholder {
  font: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(215, 169, 80, 0.4);
}
.form__lable--file {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 40px;
  padding-left: 37px;
  background: url("../img/clip.png") no-repeat 0 0;
}
.form__lable--file:focus,
.form__lable--file:hover {
  cursor: pointer;
  text-decoration: underline;
}
.form__text {
  display: block;
  width: 550px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}
.form__text a {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}
.form__text a:focus,
.form__text a:hover {
  opacity: 0.7;
}
.form__button {
  margin: 0 auto;
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 1790px) {
  .form input {
    display: block;
    width: 45vw;
    max-width: 570px;
  }
  .form textarea {
    display: block;
    width: 93vw;
    max-width: 1200px;
  }
  .form__lable--file {
    display: block;
    width: 200px;
    text-align: center;
  }
  .form__text {
    display: block;
    width: 100%;
    text-align: center;
  }
  .form__text a {
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
  }
  .form__text a:focus,
  .form__text a:hover {
    opacity: 0.7;
  }
  .form__button {
    margin: 0 auto;
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  .form input {
    display: block;
    width: 90vw;
    max-width: 670px;
    height: 55px;
    margin-bottom: 24px;
  }
  .form textarea {
    display: block;
    width: 90vw;
    max-width: 670px;
    height: 190px;
    margin: 0 auto;
    margin-top: 0px;
  }
  .form__text {
    width: 90%;
  }
  .form__text a {
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
  }
  .form__text a:focus,
  .form__text a:hover {
    opacity: 0.7;
  }
  input.form__button {
    padding-top: 0;
  }
}
.advantages {
  width: 100%;
  background: #857a70 url("../img/bg-blur.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  min-height: 780px;
  padding-top: 100px;
  padding-bottom: 80px;
}
.advantages__wrap {
  width: 1440px;
  margin: 0 auto;
}
.advantages__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}
.advantages__list {
  width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.advantages__item {
  display: block;
  width: 464px;
  margin-top: 130px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin-bottom: 70px;
}
.advantages__item::before {
  content: "";
  display: block;
  position: absolute;
  top: -130px;
  left: 183px;
  width: 98px;
  height: 98px;
  background: url("../img/Vector.svg") no-repeat center center;
}
.advantages__item--2::before {
  top: -155px;
  background: url("../img/Vector2.svg") no-repeat;
}
.advantages__item--3::before {
  top: -120px;
  background: url("../img/Vector3.svg") no-repeat;
}
.advantages__item--4::before {
  border: 5px solid #D7A950;
  border-radius: 49px;
  background: url("../img/Vector4.svg") no-repeat 13px 30px;
}
.advantages__item--5::before {
  background: url("../img/Vector5.svg") no-repeat;
}
.advantages__item--6::before {
  background: url("../img/Vector6.svg") no-repeat;
}
@media (max-width: 1790px) {
  .advantages {
    background-image: url("../img/bg-blur.jpg");
    padding-top: 85px;
    padding-bottom: 80px;
  }
  .advantages__wrap {
    width: 93%;
    max-width: 1200px;
    min-width: 672px;
  }
  .advantages__list {
    width: 93%;
    max-width: 1200px;
    min-width: 672px;
    width: 100%;
    justify-content: space-around;
  }
  .advantages__item {
    min-height: 72px;
    margin-top: 200px;
  }
  .advantages__item::before {
    content: "";
    display: block;
    position: absolute;
    top: -130px;
    left: 183px;
    width: 98px;
    height: 98px;
  }
}
@media (max-width: 767px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 120px;
  }
  .advantages__wrap {
    width: 90%;
    max-width: 650px;
    min-width: 288px;
  }
  .advantages__title {
    font-size: 24px;
    line-height: 32px;
  }
  .advantages__list {
    width: 90%;
    max-width: 650px;
    min-width: 288px;
    margin: 0 auto;
  }
  .advantages__item {
    min-width: 280px;
    margin-top: 120px;
  }
  .advantages__item::before {
    left: 38%;
  }
}
.delivery {
  width: 100%;
  min-height: 728px;
  background: url("../img/delivery.jpg") no-repeat center right;
  background-size: contain;
}
.delivery__wrap {
  padding-top: 115px;
  width: 1440px;
  margin: 0 auto;
}
.delivery__title {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  color: #4F4F4F;
  margin-bottom: 50px;
}
.delivery__text {
  width: 586px;
  font-size: 16px;
  line-height: 24px;
}
.delivery__text--bold {
  margin-top: 38px;
  font-weight: bold;
}
.delivery__pay-list {
  width: 275px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.delivery__pay-item {
  width: 48px;
  height: 30px;
  background: url("../img/mir.svg") no-repeat center center;
}
.delivery__pay-item--mc {
  background-image: url("../img/mc.svg");
}
.delivery__pay-item--visa {
  background-image: url("../img/visa.svg");
}
.delivery__pay-item--ya {
  background-image: url("../img/ya.svg");
}
.delivery__pay-item--qiwi {
  background-image: url("../img/qiwi.svg");
}
@media (max-width: 1790px) {
  .delivery {
    min-height: 1150px;
    background: none;
  }
  .delivery__wrap {
    padding-top: 50px;
    width: 93%;
    max-width: 1200px;
    min-width: 672px;
    padding-bottom: 590px;
    background: url("../img/delivery.jpg") no-repeat;
    background-position: bottom left;
    background-size: 767px;
  }
}
@media (max-width: 767px) {
  .delivery {
    min-height: 500px;
    background: none;
    background: url("../img/delivery.jpg") no-repeat;
    background-position-x: 14%;
    background-position-y: bottom;
    background-size: 380px;
  }
  .delivery__wrap {
    padding-top: 50px;
    width: 90%;
    max-width: 650px;
    min-width: 288px;
    padding-bottom: 300px;
    background: none;
  }
  .delivery__title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 35px;
  }
  .delivery__text {
    width: 100%;
    font-size: 15px;
  }
  .delivery__text--bold {
    font-size: 16px;
    margin-top: 24px;
    font-weight: bold;
  }
}
.question {
  width: 100%;
  min-height: 430px;
  background: #221e18 url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
}
.question__wrap {
  width: 1440px;
  margin: 0 auto;
  padding-top: 66px;
}
.question__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 20px;
}
.question__text {
  width: 390px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 50px;
}
@media (max-width: 1790px) {
  .question {
    min-height: 670px;
  }
  .question__wrap {
    width: 93%;
    max-width: 1200px;
    min-width: 672px;
  }
  .question__text {
    width: 55%;
  }
}
@media (max-width: 767px) {
  .question {
    min-height: 670px;
  }
  .question__wrap {
    width: 90%;
    max-width: 650px;
    min-width: 288px;
  }
  .question__title {
    font-size: 24px;
    line-height: 32px;
  }
  .question__text {
    width: 90%;
    font-size: 16px;
  }
}
.qform {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.qform input {
  display: block;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 5px;
  width: 488px;
  height: 55px;
  padding-top: 16px;
  padding-left: 24px;
  vertical-align: middle;
}
.qform input[type="submit"] {
  background-color: #D7A950;
  font-size: 16px;
  line-height: 24px;
  padding-left: 0;
  width: 400px;
  cursor: pointer;
}
.qform input::-webkit-input-placeholder {
  font: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.9);
}
.qform input::-moz-placeholder {
  font: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.9);
}
.qform input:-ms-input-placeholder {
  font: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.9);
}
.qform input::-ms-input-placeholder {
  font: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.9);
}
.qform input::placeholder {
  font: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.9);
}
.qform__text {
  margin-top: 35px;
}
.qform__text a {
  color: #D7A950;
  text-decoration: underline;
}
@media (max-width: 1790px) {
  .qform {
    flex-direction: column;
    min-height: 350px;
  }
  .qform input {
    width: 100%;
    vertical-align: middle;
  }
  .qform input[type="submit"] {
    order: 2;
  }
  .qform__text {
    width: 82%;
    margin-top: 35px;
  }
  .qform__text a {
    color: #D7A950;
    text-decoration: underline;
  }
}
@media (max-width: 767px) {
  .qform {
    min-height: 400px;
    width: 100%;
  }
  label.qform__lable {
    width: 100%;
  }
  .qform input {
    width: 100%;
    vertical-align: middle;
  }
  .qform input[type="submit"] {
    padding-top: 0;
    width: 100%;
  }
  .qform__text {
    width: 100%;
  }
  .qform__text a {
    font-size: 15px;
  }
}
.map {
  width: 100%;
  min-height: 670px;
  position: relative;
  background: url("../img/map.jpg") no-repeat center center;
  background-size: cover;
}
.map__wrap {
  position: absolute;
  width: 730px;
  height: 510px;
  top: 80px;
  right: 12.5%;
  z-index: 2;
  padding-top: 70px;
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.map__info {
  width: 530px;
  margin: 0 auto;
}
@media (max-width: 1790px) {
  iframe.desktop {
    display: none;
  }
  .map {
    min-height: 900px;
  }
  .map__wrap {
    top: 350px;
    right: 50%;
    margin-right: -365px;
  }
}
@media (max-width: 767px) {
  .map {
    min-height: 800px;
  }
  .map__wrap {
    width: 320px;
    height: 480px;
    top: 310px;
    right: 50%;
    margin-right: -160px;
    padding-top: 30px;
  }
  .map__info {
    width: 290px;
  }
}
.info__title {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #4F4F4F;
  margin-bottom: 70px;
}
.info__column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 240px;
}
.info__adress-list {
  display: flex;
  flex-wrap: wrap;
  min-height: 240px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.info__adress-item {
  display: block;
  width: 360px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-left: 65px;
  background: url("../img/pin.svg") no-repeat center left;
}
.info__adress-item--mail,
.info__adress-item--phone {
  font-weight: bold;
  text-decoration: underline;
}
.info__adress-item--phone {
  background-image: url("../img/phone.svg");
}
.info__adress-item--mail {
  background-image: url("../img/email.svg");
}
.info__adress-item--time {
  background-image: url("../img/clock.svg");
}
.info__social-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  min-height: 96px;
}
.info__social-item a {
  display: block;
  width: 24px;
  height: 24px;
  background: url("../img/vk.svg") no-repeat center center;
}
.info__social-item--insta a {
  background-image: url("../img/instagram.svg");
}
@media (max-width: 767px) {
  .info__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .info__column {
    align-items: center;
    min-height: 400px;
  }
  .info__adress-list {
    min-height: 350px;
    justify-content: space-around;
    align-items: center;
  }
  .info__adress-item {
    width: 290px;
    font-weight: normal;
    text-align: center;
    padding-left: 0;
    padding-top: 35px;
    background: url("../img/pin.svg") no-repeat top center;
  }
  .info__adress-item--mail,
  .info__adress-item--phone {
    font-weight: bold;
    text-decoration: underline;
  }
  .info__adress-item--phone {
    background-image: url("../img/phone.svg");
  }
  .info__adress-item--mail {
    background-image: url("../img/email.svg");
  }
  .info__adress-item--time {
    background-image: url("../img/clock.svg");
  }
  .info__social-list {
    display: none;
  }
}
.page-footer {
  width: 100%;
  background: #F2F2F2;
}
.page-footer__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  min-height: 105px;
  margin: 0 auto;
}
.page-footer__document,
.page-footer__info {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
  opacity: 0.4;
}
.page-footer__document {
  text-decoration: underline;
}
@media (max-width: 1790px) {
  .page-footer__wrap {
    width: 93%;
    max-width: 1200px;
    min-width: 672px;
  }
}
@media (max-width: 1790px) {
  .page-footer__wrap {
    width: 90%;
    max-width: 650px;
    min-width: 288px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .page-footer__info {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .page-footer__document {
    margin-left: auto;
    margin-right: auto;
  }
}
.modal1 {
  width: 1410px;
  height: 824px;
  display: flex;
  flex-wrap: wrap;
  background: #D7A950 url("../img/bgModal.jpg") repeat 0 0;
  background-size: cover;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}
.modal1__img-wrap {
  width: 950px;
  position: relative;
}
.modal1__img {
  width: 100%;
  height: auto;
}
.modal1__img-btn {
  display: block;
  position: absolute;
  top: 50%;
  left: 45px;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.43);
  border: none;
}
.modal1__img-btn::after {
  content: "";
  top: 12px;
  left: 15px;
  display: block;
  position: absolute;
  width: 13px;
  height: 13px;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  transform: rotate(45deg);
}
.modal1__img-btn--next {
  left: auto;
  right: 45px;
}
.modal1__img-btn--next::after {
  left: 13px;
  transform: rotate(225deg);
}
.modal1__slider-controls {
  width: 180px;
  position: absolute;
  bottom: 5%;
  right: 38%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal1__slider-controls label {
  display: block;
  font-size: 0;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #ffffff;
  opacity: 0.43;
}
.modal1__slider-controls label.checked {
  opacity: 1;
}
.modal1__form-wrap {
  width: 460px;
}
.order__text--modal1 {
  width: 310px;
  margin-top: 47px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}
.form--modal1 {
  width: 390px;
  flex-direction: column;
  align-items: stretch;
  margin-top: 33px;
}
.form__lable--modal1 {
  width: 100%;
  margin-bottom: 40px;
}
.form__lable--modal1 input,
.form__lable--modal1 textarea {
  width: 100%;
}
.form__lable--modal1 textarea {
  height: 170px;
  margin-top: 0;
}
.form__lable--file-modal1 {
  font-weight: bold;
  width: 200px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 auto;
}
.form__text--modal1 {
  width: 100%;
  color: #ffffff;
  margin-top: 30px;
}
.form__button--modal1 {
  height: 55px;
}
.modal1__close-btn {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(51, 51, 51, 0.1);
  background-image: url("../img/cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
}
@media (max-width: 1790px) {
  .modal1 {
    width: 768px;
    height: 1180px;
    justify-content: space-between;
  }
  .modal1__img-wrap {
    width: 768px;
  }
  .modal1__img {
    width: 100%;
    height: auto;
  }
  .modal1__slider-controls {
    bottom: 15%;
  }
  .modal1__form-wrap {
    width: 100%;
  }
  .order__text--modal1 {
    width: 360px;
    margin-top: 27px;
    font-size: 18px;
    line-height: 24px;
  }
  .form--modal1 {
    width: 93%;
    flex-direction: row;
  }
  .form__lable--modal1 {
    width: auto;
    margin-bottom: 10px;
  }
  .form__lable--modal1 input {
    width: 345px;
    height: 55px;
  }
  .form__lable--modal1 textarea {
    width: 711px;
    height: 55px;
    margin-top: 15px;
  }
  .form__lable--file-modal1 {
    font-weight: bold;
    width: 200px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin: 0 auto;
  }
  .form__text--modal1 {
    width: 100%;
    color: #ffffff;
    margin-top: 30px;
  }
  .form__button--modal1 {
    height: 55px;
  }
  .modal1__close-btn {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
@media (max-width: 767px) {
  .modal1 {
    width: 320px;
    height: 910px;
  }
  .modal1__img-wrap {
    width: 320px;
  }
  .modal1__img {
    width: 100%;
    height: auto;
  }
  .modal1__img-btn {
    display: none;
  }
  .modal1__slider-controls {
    bottom: 45px;
    right: 72px;
  }
  .modal1__form-wrap {
    width: 255px;
    margin: 0 auto;
  }
  .order__text--modal1 {
    width: 255px;
  }
  .form--modal1 {
    width: 255px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  .form__lable--modal1 {
    width: auto;
    height: 48px;
    margin-bottom: 8px;
  }
  .form__lable--modal1 input {
    width: 255px;
    height: 48px;
    padding-top: 0;
  }
  .form__lable--modal1 input::-webkit-input-placeholder {
    font-weight: normal;
    font-size: 16px;
  }
  .form__lable--modal1 input::-moz-placeholder {
    font-weight: normal;
    font-size: 16px;
  }
  .form__lable--modal1 input:-ms-input-placeholder {
    font-weight: normal;
    font-size: 16px;
  }
  .form__lable--modal1 input::-ms-input-placeholder {
    font-weight: normal;
    font-size: 16px;
  }
  .form__lable--modal1 input::placeholder {
    font-weight: normal;
    font-size: 16px;
  }
  .form__lable--modal1 textarea {
    width: 255px;
    height: 100px;
    margin-top: 0px;
  }
  .form__lable--file-modal1 {
    margin-top: 70px;
  }
  .form__text--modal1 {
    width: 100%;
    color: #ffffff;
    margin-top: 30px;
    font-size: 14px;
    line-height: 16px;
  }
  input.form__button--modal1 {
    height: 48px;
    width: 255px;
  }
  .modal1__close-btn {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
.modal2 {
  width: 824px;
  height: 852px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: #D7A950;
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  background: #D7A950 url("../img/bgModal.jpg") repeat 0 0;
  background-size: cover;
}
.modal2__form-wrap {
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}
.order__text--modal2 {
  width: 340px;
  margin-top: 47px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}
.form--modal2 {
  width: 710px;
  flex-direction: column;
  align-items: stretch;
  margin-top: 65px;
}
.form__lable--modal2 {
  width: 100%;
  margin-bottom: 40px;
}
.form__lable--modal2 input,
.form__lable--modal2 textarea {
  width: 100%;
}
.form__lable--modal2 textarea {
  height: 170px;
  margin-top: 0;
}
.form__lable--file-modal2 {
  font-weight: bold;
  width: 200px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 auto;
}
.form__text--modal2 {
  width: 100%;
  color: #ffffff;
  margin-top: 55px;
}
input.form__button--modal2 {
  width: 100%;
  height: 55px;
}
.modal2__close-btn {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(51, 51, 51, 0.1);
  background-image: url("../img/cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
}
@media (max-width: 1790px) {
  .modal2 {
    width: 736px;
    height: 824px;
  }
  .modal2__form-wrap {
    width: 650px;
  }
  .form--modal2 {
    width: 100%;
  }
  .form__lable--modal2 {
    width: 100%;
    margin-bottom: 40px;
  }
  .form__lable--modal2 input,
  .form__lable--modal2 textarea {
    width: 100%;
    max-width: 100%;
  }
  .form__lable--modal2 textarea {
    height: 170px;
    margin-top: 0;
  }
  .form__lable--file-modal2 {
    font-weight: bold;
    width: 200px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin: 0 auto;
  }
  .form__text--modal2 {
    width: 100%;
    color: #ffffff;
    margin-top: 55px;
  }
  input.form__button--modal2 {
    width: 100%;
    height: 55px;
  }
  .modal2__close-btn {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(51, 51, 51, 0.1);
    background-image: url("../img/cross.svg");
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    border: none;
    cursor: pointer;
  }
}
@media (max-width: 767px) {
  .modal2 {
    width: 320px;
    height: auto;
  }
  .modal2__form-wrap {
    width: 255px;
    height: auto;
  }
  .order__text--modal2 {
    width: 100%;
    margin-top: 30px;
    font-size: 18px;
    line-height: 24px;
  }
  .form--modal2 {
    width: 100%;
    margin-top: 20px;
  }
  .form__lable--modal2 {
    width: 100%;
    margin-bottom: 8px;
  }
  .form__lable--modal2 input,
  .form__lable--modal2 textarea {
    margin-bottom: 8px;
    padding-top: 5px;
    width: 100%;
    max-width: 100%;
  }
  .form__lable--modal2 textarea {
    height: 100px;
    margin-top: 5px;
  }
  .form__text--modal2 {
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    line-height: 16px;
  }
  input.form__button--modal2 {
    width: 100%;
    height: 48px;
  }
  .modal2__close-btn {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(51, 51, 51, 0.1);
    background-image: url("../img/cross.svg");
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    border: none;
    cursor: pointer;
  }
}
