.about-us {
	width: 100%;
	background-color: @bg;
	color: @text;
	position: relative;
	background: url("../img/foto1.jpg") no-repeat right center;
	background-size: contain;
}

.about-us__statistic {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	min-height: 264px;
	width: 1558px;
	background: @bg-yellow url("../img/bgYellow.jpg");
	color: @text-white;
	padding-top: 77px;
	padding-right: 285px;
	padding-left: 240px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
	z-index: 1;
}

.about-us__statistic-text {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;

	&--big {
		font-weight: bold;
		font-size: 64px;
		line-height: 72px;
	}
}

.about-us__info {
	width: 1440px;
	.center;

	min-height: 460px;
	margin-left: 240px;
	padding-top: 90px;
}

.about-us__info-title {
	font-weight: bold;
	font-size: 40px;
	line-height: 48px;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		display: block;
		width: 98px;
		height: 8px;
		left: 0;
		bottom: -22px;
		background-color: @bg-yellow;
		opacity: 0.5;
	}
}

.about-us__info-text {
	width: 700px;
	font-size: 18px;
	line-height: 24px;
	color: #4F4F4F;
	margin-top: 85px;
	margin-bottom: 89px;
}

@media (max-width: @desktop-width) {
	.about-us {
		// width: 100%;
		// background-color: @bg;
		// color: @text;
		// position: relative;
		// background: url("../img/foto1.jpg") no-repeat right center;
		// background-size: contain;
		background-size: cover;
		background-position: center;
	}

	.about-us__statistic {
		// display: flex;
		// flex-wrap: wrap;
		justify-content: space-around;
		// position: relative;
		// min-height: 264px;
		width: 100%;
		// background: @bg-yellow url("../img/bgYellow.jpg");
		// color: @text-white;
		background-size: cover;
		background-position: center;
		padding-top: 70px;
		padding-right: 0;
		padding-left: 0;
//		box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
		z-index: 0;
	}

	.about-us__statistic-text {
		max-width: 25%;
		// font-weight: bold;
		// font-size: 18px;
		// line-height: 24px;

		&--big {
			// font-weight: bold;
			// font-size: 64px;
			// line-height: 72px;
		}
	}

	.about-us__info {
		width: 100%;
		.center;

		min-height: 593px;
		// margin-left: 240px;
		padding-top: 158px;
	}
	.about-us__info-wrap {
		.widthForTabletWrap;
.center;
	}

	.about-us__info-title {
		color: @text-white;
		margin-top: 0;
		// font-weight: bold;
		// font-size: 40px;
		// line-height: 48px;
		// position: relative;

		// &::after {
		// 	content: "";
		// 	position: absolute;
		// 	display: block;
		// 	width: 98px;
		// 	height: 8px;
		// 	left: 0;
		// 	bottom: -22px;
		// 	background-color: @bg-yellow;
		// 	opacity: 0.5;
		// }
	}

	.about-us__info-text {
		width: 100%;
		// font-size: 18px;
		// line-height: 24px;
		color: @text-white;
		margin-top: 85px;
		margin-bottom: 158px;
	}

}

@media (max-width: @tablet-width) {
	.about-us {
		// width: 100%;
		// background-color: @bg;
		// color: @text;
		// position: relative;
		background: url("../img/foto1mobile.jpg") no-repeat top right;
		// background-size: contain;
		background-size: 62.5%;
		// background-position: top right;
	}

	.about-us__statistic {
		// display: flex;
		// flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		// position: relative;
		// min-height: 264px;
		width: 50%;
		// background: @bg-yellow url("../img/bgYellow.jpg");
		// color: @text-white;
		background-size: cover;
		background-position: center;
		padding: 25px 0;
//		box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
		//z-index: 0;
	}

	.about-us__statistic-text {
		max-width: 100%;
		width: 100px;
		// font-weight: bold;
		font-size: 14px;
		line-height: 16px;

		&--big {
			// font-weight: bold;
			font-size: 32px;
			line-height: 42px;
		}
	}

	.about-us__info {
		width: 100%;
		.center;

		min-height: 760px;
		// margin-left: 240px;
		padding-top: 135px;
	}
	.about-us__info-wrap {
		.widthForMobileWrap;
.center;
	}

	.about-us__info-title {
		color: @text-white;
		margin-top: 0;
		// font-weight: bold;
		font-size: 24px;
		line-height: 48px;
		color: @text;
		// position: relative;

		 &::after {
		// 	content: "";
		// 	position: absolute;
		// 	display: block;
		width: 58px;
		height: 4px;
		// 	left: 0;
			bottom: -10px;
		// 	background-color: @bg-yellow;
		opacity: 1;
		}
	}

	.about-us__info-text {
		width: 100%;
		// font-size: 18px;
		// line-height: 24px;
		color: @text;
		margin-top: 85px;
		margin-bottom: 158px;
	}
}
