.delivery {
	width: 100%;
	min-height: 728px;
	background: url("../img/delivery.jpg") no-repeat center right;
	background-size: contain;
}

.delivery__wrap {
	padding-top: 115px;
	width: 1440px;
	.center;
}

.delivery__title {
	.d-nole;
	font-weight: bold;
	font-size: 40px;
	line-height: 48px;
	text-transform: uppercase;
	color: #4F4F4F;
	margin-bottom: 50px;
}

.delivery__text {
	width: 586px;
	font-size: 16px;
	line-height: 24px;
	//margin-top: 50px;
	&--bold {
		margin-top: 38px;
		font-weight: bold;
	}
}

.delivery__pay-list {
	width: 275px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.delivery__pay-item {
	width: 48px;
	height: 30px;
	//background: red;
	//border: 1px solid #F7F7F7;
	//border-radius: 3px;
	background: url("../img/mir.svg") no-repeat center center;

	&--mc {
		background-image: url("../img/mc.svg");
	}

	&--visa {
		background-image: url("../img/visa.svg");
	}

	&--ya {
		background-image: url("../img/ya.svg");
	}

	&--qiwi {
		background-image: url("../img/qiwi.svg");
	}
}
@media (max-width: @desktop-width) {
	.delivery {
		//width: 100%;
		min-height: 1150px;
		background: none;
		// background-position: bottom center;
		// background-size: 767px;
	}

	.delivery__wrap {
		padding-top: 50px;
		.widthForTabletWrap;
		padding-bottom: 590px;
		background: url("../img/delivery.jpg") no-repeat;
		background-position: bottom left;
		background-size: 767px;
	}
	// .delivery__title {
	// 	.d-nole;
	// 	font-weight: bold;
	// 	font-size: 40px;
	// 	line-height: 48px;
	// 	text-transform: uppercase;
	// 	color: #4F4F4F;
	// 	margin-bottom: 50px;
	// }
	//
	// .delivery__text {
	// 	width: 586px;
	// 	font-size: 16px;
	// 	line-height: 24px;
	// 	//margin-top: 50px;
	// 	&--bold {
	// 		margin-top: 38px;
	// 		font-weight: bold;
	// 	}
	// }
	//
	// .delivery__pay-list {
	// 	width: 275px;
	// 	display: flex;
	// 	flex-wrap: wrap;
	// 	justify-content: space-between;
	// }
	//
	// .delivery__pay-item {
	// 	width: 48px;
	// 	height: 30px;
	// 	//background: red;
	// 	//border: 1px solid #F7F7F7;
	// 	//border-radius: 3px;
	// 	background: url("../img/mir.svg") no-repeat center center;
	//
	// 	&--mc {
	// 		background-image: url("../img/mc.svg");
	// 	}
	//
	// 	&--visa {
	// 		background-image: url("../img/visa.svg");
	// 	}
	//
	// 	&--ya {
	// 		background-image: url("../img/ya.svg");
	// 	}
	//
	// 	&--qiwi {
	// 		background-image: url("../img/qiwi.svg");
	// 	}
	// }
}
@media (max-width: @tablet-width) {
	.delivery {
		//width: 100%;
		min-height: 500px;
		background: none;
		// background-position: bottom center;
		// background-size: 767px;
	}

	.delivery__wrap {
		padding-top: 50px;
		.widthForMobileWrap;
		padding-bottom: 300px;
		//background: url("../img/delivery.jpg") no-repeat;
		background-position: bottom left;
		background-size: 410px;
	}
	.delivery__title {
		//.d-nole;
		//font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		//text-transform: uppercase;
		//color: #4F4F4F;
		margin-bottom: 35px;
	}

	.delivery__text {
		width: 100%;
		font-size: 15px;
		//line-height: 24px;
		//margin-top: 50px;
		&--bold {
			font-size: 16px;
			margin-top: 24px;
			font-weight: bold;
		}
	}
}
