.menu {
	display: flex;
	flex-wrap: wrap;
	.center;
	width: 1440px;
	height: 90px;
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

.menu__main {
	width: 1440px;
}

.menu__main-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	//padding-top: 32px;
}

.menu__main-item {
	display: block;
	width: auto;
}

.menu__main-item a {
	display: block;
	width: auto;
	padding: 33px 23px;
	//margin-right: 46px;
	height: 90px;
	color: @text-white;
	font-weight: bold;

	&:focus,
	&:hover {
		//color: @text-hover;
		background-color: rgba(0, 0, 0, 0.5);
	}

	&:active {
		color: @text-active;
	}
}

.menu__main-item--catalog {
	position: relative;

	& a {
		width: 146px;
	}
}

.menu__main-item--catalog-a {
	position: relative;

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 35px;
		right: 20px;
		width: 10px;
		height: 10px;
		//background-color: red;
		border-right: 2px solid @bg-yellow;
		border-bottom: 2px solid @bg-yellow;
		transform: rotate(45deg);
	}
}

.menu__submain-list {
		//display: none;

	position: absolute;


}
