.menu {
	display: flex;
	flex-wrap: wrap;
	.center;
	width: 100%;
	height: 90px;
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(255,255,255,0.3);
	justify-content: space-between;
	align-items: center;
}

.menu__main {
	width: 85%;
}

.menu__main-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	//padding-top: 32px;
}

.menu__main-item {
	display: block;
	width: auto;
}

.menu__main-item a {
	display: block;
	width: auto;
	padding: 33px 23px;
	//margin-right: 46px;
	height: 90px;
	color: @text-white;
	font-weight: bold;

	&:focus,
	&:hover {
		//color: @text-hover;
		background-color: rgba(0, 0, 0, 0.5);
	}

	&:active {
		color: @text-active;
	}
}

.menu__main-item--catalog {
	position: relative;

	& a {
		width: 146px;
	}
}

.menu__main-item--catalog-a {
	position: relative;

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 35px;
		right: 20px;
		width: 10px;
		height: 10px;
		//background-color: red;
		border-right: 2px solid @bg-yellow;
		border-bottom: 2px solid @bg-yellow;
		transform: rotate(45deg);
	}
}

.menu__submain-list {
	position: absolute;
	min-width: 585px;
	height: 312px;
	padding-top: 62px;
	padding-bottom: 50px;
	padding-left: 96px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
	background-color: rgba(0, 0, 0, 0.5);
	//Временно прячем
	display: none;
}

.menu__submain-item {
	display: block;
	height: 40px;
	width: 150px;
}

.menu__submain-item a {
	display: block;
	height: 40px;
	width: 150px;
	.d-nole;
	font-size: 18px;
	line-height: 40px;
	font-weight: normal;

	&:focus,
	&:hover {
		color: @text-hover;
		background-color: rgba(0, 0, 0, 0.0);
	}

	&:active {
		color: @text-active;
	}
}

.menu__social-list {
	display: flex;
	flex-wrap: wrap;
	width: 160px;
	justify-content: space-around;
}

.menu__social-item {
	width: 25px;
	height: 25px;
	//background-color: @bg-yellow;
	//border-radius: 50%;
	background: url("../img/vk.svg") no-repeat center center;

	&--instagram {
		background-image: url("../img/instagram.svg");
	}
}
@media (max-width: 1439px) {
	.menu {
		// display: flex;
		// flex-wrap: wrap;
		// .center;
		.widthForTabletWrap;
		width: 100%;
		// height: 90px;
		// border-top: 1px solid rgba(255,255,255,0.3);
		// border-bottom: 1px solid rgba(255,255,255,0.3);
		// justify-content: space-between;
		// align-items: center;
		position: relative;
	}

	.menu__main {
		width: 100%;
	}

	.menu__main-list {
		// display: flex;
		flex-wrap: wrap;
		// align-items: center;
	}

	.menu__main-item {
		// display: block;
		width: auto;
		// max-width: 150px;
		// min-width: 55px;
	}

	.menu__main-item a {
		// display: block;
		font-size: 18px;
		width: auto;
		padding: 33px 13px;
		//margin-right: 46px;
		height: 90px;
		// color: @text-white;
		// font-weight: bold;
		// &:focus,
		// &:hover {
		// 	//color: @text-hover;
		// 	background-color: rgba(0, 0, 0, 0.5);
		// }
		//
		// &:active {
		// 	color: @text-active;
		// }
	}

	.menu__main-item--catalog {
		// position: relative;
		width: 125px;

		& a {
			width: 125px;
		}
	}

	.menu__submain-list {
		// position: absolute;
		// min-width: 585px;
		// height: 312px;
		// padding-top: 62px;
		// padding-bottom: 50px;
		// padding-left: 96px;
		// display: flex;
		// flex-wrap: wrap;
		// flex-direction: column;
		// justify-content: flex-start;
		// background-color: rgba(0, 0, 0, 0.5);
		// //Временно прячем
		// display: none;
	}

	.menu__submain-item {
		// display: block;
		// height: 40px;
		// width: 150px;
	}

	.menu__submain-item a {
		// display: block;
		// height: 40px;
		// width: 150px;
		// .d-nole;
		// font-size: 18px;
		// line-height: 40px;
		// font-weight: normal;
		//
		// &:focus,
		// &:hover {
		// 	color: @text-hover;
		// 	background-color: rgba(0, 0, 0, 0.0);
		// }
		//
		// &:active {
		// 	color: @text-active;
		// }
	}

	.menu__social-list {
		flex-direction: column;
		width: 30px;
		height: 100px;
		position: absolute;
		top: 176px;
		right: 0;
	}

	.menu__social-item {
		width: 25px;
		height: 25px;
		//background-color: @bg-yellow;
		//border-radius: 50%;
		background: url("../img/vk.svg") no-repeat center center;

		&--instagram {
			background-image: url("../img/instagram.svg");
		}
	}
}

@media (max-width: @tablet-width) {
	.menu {
		// display: flex;
		// flex-wrap: wrap;
		// .center;
		.widthForTabletWrap;
		width: 100%;
		// height: 90px;
		// border-top: 1px solid rgba(255,255,255,0.3);
		// border-bottom: 1px solid rgba(255,255,255,0.3);
		// justify-content: space-between;
		// align-items: center;
		position: relative;
	}

	.menu__main {
		width: 100%;
	}

	.menu__main-list {
		// display: flex;
		flex-wrap: wrap;
		// align-items: center;
	}

	.menu__main-item {
		// display: block;
		width: auto;
		// max-width: 150px;
		// min-width: 55px;
	}

	.menu__main-item a {
		// display: block;
		font-size: 18px;
		width: auto;
		padding: 33px 13px;
		//margin-right: 46px;
		height: 90px;
		// color: @text-white;
		// font-weight: bold;
		// &:focus,
		// &:hover {
		// 	//color: @text-hover;
		// 	background-color: rgba(0, 0, 0, 0.5);
		// }
		//
		// &:active {
		// 	color: @text-active;
		// }
	}

	.menu__main-item--catalog {
		// position: relative;
		width: 125px;

		& a {
			width: 125px;
		}
	}

	.menu__submain-list {
		// position: absolute;
		// min-width: 585px;
		// height: 312px;
		// padding-top: 62px;
		// padding-bottom: 50px;
		// padding-left: 96px;
		// display: flex;
		// flex-wrap: wrap;
		// flex-direction: column;
		// justify-content: flex-start;
		// background-color: rgba(0, 0, 0, 0.5);
		// //Временно прячем
		// display: none;
	}

	.menu__submain-item {
		// display: block;
		// height: 40px;
		// width: 150px;
	}

	.menu__submain-item a {
		// display: block;
		// height: 40px;
		// width: 150px;
		// .d-nole;
		// font-size: 18px;
		// line-height: 40px;
		// font-weight: normal;
		//
		// &:focus,
		// &:hover {
		// 	color: @text-hover;
		// 	background-color: rgba(0, 0, 0, 0.0);
		// }
		//
		// &:active {
		// 	color: @text-active;
		// }
	}

	.menu__social-list {
		flex-direction: column;
		width: 30px;
		height: 100px;
		position: absolute;
		top: 176px;
		right: 0;
	}

	.menu__social-item {
		width: 25px;
		height: 25px;
		//background-color: @bg-yellow;
		//border-radius: 50%;
		background: url("../img/vk.svg") no-repeat center center;

		&--instagram {
			background-image: url("../img/instagram.svg");
		}
	}
}
