.order {
	width: 100%;
	min-height: 1055px;
	margin-top: -230px;
	padding-top: 310px;
	padding-bottom: 90px;
	background: @bg-yellow url("../img/bgYellowBig.jpg");
	color: @text-white;
	background-size: cover;
	background-position: center;
}

.order__wrap {
	width: 1440px;
	.center;
}

.order__title {
	font-weight: bold;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
}

.order__text {
	display: block;
	width: 420px;
	.center;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
}
.order__form {
	width: 715px;
	.center;
	margin-top: 57px;
}
