.question {
	width: 100%;
	min-height: 430px;
	background: @bg-gray url(../img/bg.jpg);
	background-size: cover;
	background-position: center;
	color: @text-white;
}

.question__wrap {
	width: 1440px;
	.center;
	padding-top: 66px;
}

.question__title {
	font-weight: bold;
	font-size: 40px;
	line-height: 48px;
	margin-bottom: 20px;
}

.question__text {
	width: 390px;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 50px;
}
@media (max-width: @desktop-width) {
	.question {
		//width: 100%;
		min-height: 670px;
		// background: @bg-gray url(../img/bg.jpg);
		// background-size: cover;
		// background-position: center;
		// color: @text-white;
	}

	.question__wrap {
		.widthForTabletWrap;
		// width: 1440px;
		// .center;
		// padding-top: 66px;
	}

	.question__title {
		// font-weight: bold;
		// font-size: 40px;
		// line-height: 48px;
		// margin-bottom: 20px;
	}

	.question__text {
		width: 55%;
		// font-size: 18px;
		// line-height: 24px;
		// margin-bottom: 50px;
	}
}
@media (max-width: @tablet-width) {
	.question {
		//width: 100%;
		min-height: 670px;
		// background: @bg-gray url(../img/bg.jpg);
		// background-size: cover;
		// background-position: center;
		// color: @text-white;
	}

	.question__wrap {
		.widthForMobileWrap;
		// width: 1440px;
		// .center;
		// padding-top: 66px;
	}

	.question__title {
		// font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		// margin-bottom: 20px;
	}

	.question__text {
		width: 90%;
		font-size: 16px;
		// line-height: 24px;
		// margin-bottom: 50px;
	}
}
